<h2>De cherta</h2>
<p>Knockout es una API que permite asociar (bindear) elementos del DOM con un modelo de datos javascript para refrescar autom&aacute;ticamente la UI cuando el modelo de datos cambia.</p>
<p>Para esto utiliza un sistema de seguimiento (tracking) de dependencia con el cual se notifica a las partes de la UI que deben ser actualizadas, lo cual le permite ser performante.</p>
<h2>Caracter&iacute;sticas</h2>
<ul>
<li>Bindings declarativos (no program&aacute;ticos)</li>
<li>Sistema de templates (jquery template)</li>
<li>Compacto (25Kb sin gzip<b>ear</b>)</li>
<li>Compatible con los mayores browsers (IE 6+, Firefox 2+, Chrome, Safari, etc)</li>
</ul>