<h2>Del Libro</h2>
<p>Es un framework basado en el patr&oacute;n  M-V-VM (Model View View-Model)</p>
<h2>M-V-VM</h2>
<p>Es un patr&oacute;n de UI dise&ntilde;ado por Microsoft para el WPF. Es una especializaci&oacute;n del MVC para la UI.</p>
<p><b>Model</b>: Objeto que representa el estado real del contenido</p>
<p><b>View</b>: Como se ve el estado del Modelo</p>
<p><b>ViewModel</b>: Es el modelo de la vista, una especializaci&oacute;n del Controller en MVC que provee una forma de asociar el Modelo y la Vista. Permite bindear el estado del modelo con la vista.</p>